@model IdentitySample.Models.ApplicationRole

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar.</h2>

<h3>¿Seguro que quieres eliminar este Rol? </h3>
<p>Eliminar este rol lo quitará de los usuarios que lo poseen sin borrar los usuarios.</p>
<div>
    <h4>Eliminar Rol.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
